## Cleaning Data of 'Content' file

In [1]:
import pandas as pd
df = pd.read_csv("D:\Social Buzz\Content.csv")
print(df.info())
df.describe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB
None

<bound method NDFrame.describe of      Unnamed: 0                            Content ID  \
0             0  97522e57-d9ab-4bd6-97bf-c24d952602d2
1             1  9f737e0a-3cdd-4d29-9d24-753f4e3be810
2             2  230c4e4d-70c3-461d-b42c-ec09396efb3f
3             3  356fff80-da4d-4785-9f43-bc1261031dc6
4             4  01ab84dd-6364-4236-abbb-3f237db77180
..          ...                                   ...
995         995  b4cef9ef-627b-41d7-a051-5961b0204ebb
996         996  7a79f4e4-3b7d-44dc-bdef-bc990740252c
997         997  435007a5-6261-4d8b-b0a4-55fdc189754b
998         998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7
999         999  75d6b589-7fae-4a6d-b0d0-752845150e56

                                  User ID   Type         Category  \
0    8d3cd87d-8a31-4935-9a4f-b319bfe05f31  photo         Studying
1    beb1f34e-7870-46d6-9fc7-2e12eb83ce43  photo   healthy eating
2    a5c65404-5894-4b87-82f2-d787cbee86b4  photo   healthy eating
3    9fb4ce88-fac1-406c-8544-1a899cee7aaf  photo       technology
4    e206e31b-5f85-4964-b6ea-d7ee5324def1  video             food
..                                    ...    ...              ...
995  5b62e10e-3c19-4d28-a57c-e9bdc3d6758d  video  public speaking
996  4fe420fa-a193-4408-bd5d-62a020233609    GIF       technology
997  35d6a1f3-e358-4d4b-8074-05f3b7f35c2a  audio         veganism
998  b9bcd994-f000-4f6b-87fc-caae08acfaa1    GIF          culture
999  b8c653b5-0118-4d7e-9bde-07c2de90f0ff  audio       technology

                                                   URL
0    https://socialbuzz.cdn.com/content/storage/975...
1    https://socialbuzz.cdn.com/content/storage/9f7...
2    https://socialbuzz.cdn.com/content/storage/230...
3    https://socialbuzz.cdn.com/content/storage/356...
4    https://socialbuzz.cdn.com/content/storage/01a...
..                                                 ...
995                                                NaN
996  https://socialbuzz.cdn.com/content/storage/7a7...
997  https://socialbuzz.cdn.com/content/storage/435...
998  https://socialbuzz.cdn.com/content/storage/4e4...
999  https://socialbuzz.cdn.com/content/storage/75d...

[1000 rows x 6 columns]>

In [2]:
print(df.isnull().sum()) # check for missing va;ues in dataset

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [3]:
df.dropna(inplace = True) # drop row with missing values

In [4]:
print(df.isnull().sum())

Unnamed: 0    0
Content ID    0
User ID       0
Type          0
Category      0
URL           0
dtype: int64

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 801 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  801 non-null    int64
 1   Content ID  801 non-null    object
 2   User ID     801 non-null    object
 3   Type        801 non-null    object
 4   Category    801 non-null    object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 43.8+ KB
None

In [6]:
print(df.dtypes)

Unnamed: 0     int64
Content ID    object
User ID       object
Type          object
Category      object
URL           object
dtype: object

In [7]:
df
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 801 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  801 non-null    int64
 1   Content ID  801 non-null    object
 2   User ID     801 non-null    object
 3   Type        801 non-null    object
 4   Category    801 non-null    object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 43.8+ KB
None

In [15]:
print(df.duplicated().sum())

0

In [20]:
# saving the file that we modified by applying data pre processing
df.to_csv(r'D:\Social Buzz\output_Content.csv', index=False)

## Cleaning Data of 'Reactions' file

In [26]:
df_1 = pd.read_csv("D:\Social Buzz\Reactions.csv")
df_1

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
...,...,...,...,...,...
25548,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25550,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,2020-09-12 03:54:58
25551,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

In [27]:
print(df_1.info())
df_1.describe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25553 non-null  int64
 1   Content ID  25553 non-null  object
 2   User ID     22534 non-null  object
 3   Type        24573 non-null  object
 4   Datetime    25553 non-null  object
dtypes: int64(1), object(4)
memory usage: 998.3+ KB
None

<bound method NDFrame.describe of        Unnamed: 0                            Content ID  \
0               0  97522e57-d9ab-4bd6-97bf-c24d952602d2
1               1  97522e57-d9ab-4bd6-97bf-c24d952602d2
2               2  97522e57-d9ab-4bd6-97bf-c24d952602d2
3               3  97522e57-d9ab-4bd6-97bf-c24d952602d2
4               4  97522e57-d9ab-4bd6-97bf-c24d952602d2
...           ...                                   ...
25548       25548  75d6b589-7fae-4a6d-b0d0-752845150e56
25549       25549  75d6b589-7fae-4a6d-b0d0-752845150e56
25550       25550  75d6b589-7fae-4a6d-b0d0-752845150e56
25551       25551  75d6b589-7fae-4a6d-b0d0-752845150e56
25552       25552  75d6b589-7fae-4a6d-b0d0-752845150e56

                                    User ID        Type             Datetime
0                                       NaN         NaN  2021-04-22 15:17:15
1      5d454588-283d-459d-915d-c48a2cb4c27f     disgust  2020-11-07 09:43:50
2      92b87fa5-f271-43e0-af66-84fac21052e6     dislike  2021-06-17 12:22:51
3      163daa38-8b77-48c9-9af6-37a6c1447ac2      scared  2021-04-18 05:13:58
4      34e8add9-0206-47fd-a501-037b994650a2     disgust  2021-01-06 19:13:01
...                                     ...         ...                  ...
25548  80c9ce48-46f9-4f5e-b3ca-3b698fc2e949     dislike  2020-06-27 09:46:48
25549  2bd9c167-e06c-47c1-a978-3403d6724606   intrigued  2021-02-16 17:17:02
25550                                   NaN  interested  2020-09-12 03:54:58
25551  5ffd8b51-164e-47e2-885e-8b8c46eb63ed     worried  2020-11-04 20:08:31
25552  4edc3d1a-a7d9-4db6-89c3-f784d9954172     cherish  2021-01-04 04:55:11

[25553 rows x 5 columns]>

In [28]:
print(df_1.isnull().sum())

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [29]:
df_1.dropna(inplace = True)

In [31]:
print(df_1.info())
df_1.describe

<class 'pandas.core.frame.DataFrame'>
Index: 22534 entries, 1 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  22534 non-null  int64
 1   Content ID  22534 non-null  object
 2   User ID     22534 non-null  object
 3   Type        22534 non-null  object
 4   Datetime    22534 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.0+ MB
None

<bound method NDFrame.describe of        Unnamed: 0                            Content ID  \
1               1  97522e57-d9ab-4bd6-97bf-c24d952602d2
2               2  97522e57-d9ab-4bd6-97bf-c24d952602d2
3               3  97522e57-d9ab-4bd6-97bf-c24d952602d2
4               4  97522e57-d9ab-4bd6-97bf-c24d952602d2
5               5  97522e57-d9ab-4bd6-97bf-c24d952602d2
...           ...                                   ...
25547       25547  75d6b589-7fae-4a6d-b0d0-752845150e56
25548       25548  75d6b589-7fae-4a6d-b0d0-752845150e56
25549       25549  75d6b589-7fae-4a6d-b0d0-752845150e56
25551       25551  75d6b589-7fae-4a6d-b0d0-752845150e56
25552       25552  75d6b589-7fae-4a6d-b0d0-752845150e56

                                    User ID        Type             Datetime
1      5d454588-283d-459d-915d-c48a2cb4c27f     disgust  2020-11-07 09:43:50
2      92b87fa5-f271-43e0-af66-84fac21052e6     dislike  2021-06-17 12:22:51
3      163daa38-8b77-48c9-9af6-37a6c1447ac2      scared  2021-04-18 05:13:58
4      34e8add9-0206-47fd-a501-037b994650a2     disgust  2021-01-06 19:13:01
5      9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4  interested  2020-08-23 12:25:58
...                                     ...         ...                  ...
25547  b6d04982-1509-41ab-a700-b390d6cb4d02     worried  2020-10-31 04:50:14
25548  80c9ce48-46f9-4f5e-b3ca-3b698fc2e949     dislike  2020-06-27 09:46:48
25549  2bd9c167-e06c-47c1-a978-3403d6724606   intrigued  2021-02-16 17:17:02
25551  5ffd8b51-164e-47e2-885e-8b8c46eb63ed     worried  2020-11-04 20:08:31
25552  4edc3d1a-a7d9-4db6-89c3-f784d9954172     cherish  2021-01-04 04:55:11

[22534 rows x 5 columns]>

In [32]:
print(df_1.isnull().sum())

Unnamed: 0    0
Content ID    0
User ID       0
Type          0
Datetime      0
dtype: int64